<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:metadata>
    <f:view>
        <f:event type="preRenderView" listener="#{uiMediator.startTask}"/>
    </f:view>
</f:metadata>

<h:head>
    <title>Формирование заказа</title>
</h:head>

<h:body>
    <h:outputStylesheet name="main.css"/>
    <h1>Заказ</h1>

    <h:form id="orderForm">
        <p:panel>
            <p:dataTable id="orderTable"
                         title="Заказ"
                         editable="true"
                         emptyMessage=""
                         value="#{orderController.orderItems}" var="orderItem">
                <p:column headerText="Тип крабсбургера">
                    <p:selectOneMenu value="#{orderItem.burgerType}"
                                     label="#{orderItem.burgerType}">
                        <p:ajax event="change"/>
                        <f:selectItems value="#{orderController.burgerTypes}"/>
                    </p:selectOneMenu>
                </p:column>
                <p:column headerText="Количество">
                    <p:inputNumber value="#{orderItem.quantity}" converter="javax.faces.Integer">
                        <p:ajax event="change"/>
                    </p:inputNumber>
                </p:column>
            </p:dataTable>
            <p:commandButton id="addOrderButton"
                             value="Добавить"
                             actionListener="#{orderController.addOrderItem}"
                             process="@this"
                             update="orderTable"
                             partialSubmit="true"/>
        </p:panel>

        <div class="ui-g navigation">
            <p:commandButton value="Подтвердить заказ"
                             action="#{orderController.confirmOrder}"/>
            <p:commandButton value="Отменить заказ"
                             action="#{orderController.cancelOrder}"/>
            <p:commandButton value="Выйти"
                             action="#{orderController.exit}"/>
        </div>
    </h:form>
    <p:graphicImage library="img" name="squidward-face.jpg" styleClass="meme"/>
</h:body>
</html>