<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:metadata>
    <f:view>
        <f:event type="preRenderView" listener="#{uiMediator.startTask}"/>
    </f:view>
</f:metadata>

<h:head>
    <title>Выдача заказа</title>
</h:head>

<h:body>
    <h1>Выдача заказа</h1>

    <h:form styleClass="navigation">
        <p:commandButton value="Заказ выдан"
                         action="#{orderCompletionController.orderCompleted}"/>
    </h:form>
</h:body>
</html>