<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:metadata>
    <f:view>
        <f:event type="preRenderView" listener="#{uiMediator.startTask}"/>
    </f:view>
</f:metadata>

<h:head>
    <title>Ошибка оплаты</title>
</h:head>

<h:body>
    <h:outputStylesheet name="main.css"/>
    <h1>Ошибка оплаты</h1>
    <p:outputLabel value="Причина:" styleClass="label"/>
    <h:outputText value="#{uiMediator.processVariables['paymentErrorMessage']}"/>

    <h:form styleClass="navigation">
        <p:commandButton value="К странице оплаты"
                         action="#{paymentErrorController.toPayment}"/>
        <p:commandButton value="Отменить заказ"
                         action="#{paymentErrorController.cancelOrder}"/>
    </h:form>
</h:body>
</html>