<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:metadata>
    <f:view>
        <f:event type="preRenderView" listener="#{uiMediator.startTask}"/>
    </f:view>
</f:metadata>

<h:head>
    <title>Оплата</title>
</h:head>

<h:body>
    <h:outputStylesheet name="main.css"/>
    <h1>Оплата</h1>

    <h:form>
        <div class="ui-g">
            <h:outputLabel value="Стоимость заказа:" styleClass="label"/>
            <h:outputText value="$ #{uiMediator.processVariables['orderTotalCost']}"/>
        </div>

        <div class="ui-g navigation">
            <p:commandButton value="Оплачено наличными"
                             action="#{paymentController.payedByCash}"/>
            <p:commandButton value="Оплата картой"
                             action="#{paymentController.payByCard}"/>
            <p:commandButton value="Назад"
                             action="#{paymentController.back}"/>
            <p:commandButton value="Выйти"
                             action="#{paymentController.exit}"/>
        </div>
    </h:form>
</h:body>
</html>